<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-img-container">
            <img src="../images/alert-img.png" alt="alert" width="100px" height="100px"/>
            </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <h4>Are you sure you want to logout?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary logout-close-btn" data-bs-dismiss="modal">
          Close
        </button>
        <a href="../controller/logoutController.php" class="btn btn-danger"
          >Logout <i class="bi bi-box-arrow-in-right"></i></a
        >
      </div>
    </div>
  </div>
</div>
